@using PetsiApp.ViewModels
@model CreatePetViewModel

@{
    ViewData["Title"] = "Add A New Pet";
}
<style>
.main {
  width: 75%;
  float: left;
}
.icons {
  width: 25%;
  float: right;
}
</style>

<div class="icons">
    <img src="../wwwroot/icons/1.jpg" />
    <img src="../wwwroot/icons/2.jpg" />
    <img src="../wwwroot/icons/3.jpg" />
    <img src="../wwwroot/icons/4.jpg" />
    <img src="../wwwroot/icons/5.jpg" />
    <img src="../wwwroot/icons/6.jpg" />
</div>
<div class="main">
    <h1>Add A New Pet</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-controller="Pet" asp-action="CreatePet">
            
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender">Name</label>
                    <select asp-for="Gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Species">Species</label>
                    <select asp-for="Species" class="form-control">
                        <option value="Cat">Cat</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IconSelection">Choose Your Pet Icon</label>
                    <select asp-for="IconSelection" class="form-control">
                        <option value="1"><img src="../wwwroot/icons/1.jpg"/></option>
                        <option value="2"><source src="../wwwroot/icons/2.jpg"/></option>
                        <option value="3"><source src="../wwwroot/icons/3.jpg"/></option>
                        <option value="4"><source src="../wwwroot/icons/4.jpg"/></option>
                        <option value="5"><source src="../wwwroot/icons/5.jpg"/></option>
                        <option value="6"><source src="../wwwroot/icons/6.jpg"/></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" >Add Pet</button>
            </form>
        </div>
    </div>
</div>
